# This is an example .env file. Copy this file to .env and fill in your own API keys.

# OPENAI_API_KEY: Your OpenAI API key. 
# You can get your own key from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=your_api_key_here

# GOOGLE_API_KEY: Your Google API key.
# Google provide free API key for 100 requests per day. 
# You can get your own key from https://developers.google.com/custom-search/v1/overview
GOOGLE_API_KEY=your_google_api_key_here